---
import { SITE } from "@config";
import { getCollection } from 'astro:content';
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import TeachingCard from "@components/TeachingCard.astro";

const teachings = await getCollection("teaching");

const { Content } = await teachings[0].render();

const formatDate = (inputDate: Date) => {
    const date = new Date(inputDate);
    const month = date.toLocaleString('default', { month: 'short' });
    const year = date.getFullYear();
    return `${month} ${year}`;
};
---

<Layout title={`Teaching experience | ${SITE.title}`}>
  <Header />
    {teachings.map((teaching) =>
      <main id="main-content">
	<TeachingCard
	    institution={teaching.data.institution}
	    startDate={formatDate(teaching.data.startDate)}
	    course={teaching.data.course}
	    position={teaching.data.position}>
	  <Content />
        </TeachingCard>
      </main>)}
  <Footer />
</Layout>

<style>
#main-content {
    @apply mx-auto flex max-w-3xl flex-1 items-center justify-center;
}
</style>